<div id="modal-profile" 
     class="app-modal app-modal__bg" 
     role="dialog" 
     aria-hidden="true"
     data-modal
     modal-close-bg>
    <div class="app-modal__dialog app-modal__dialog--head">
        <a ng-hide="loadGame" href modal-close class="app-modal__close">
            <i class="material-icons">clear</i>
        </a>
        <div class="app-modal__head">
            <div class="app-profile__card-avatar">
                <img avatar class="app-avatar app-profile__avatar" ng-src="{{ data.avatar }}">
            </div>
            {{ data.name }}
        </div>
        <div class="app-modal__content">
            <div class="app-profile__action">
                <button ng-if="favoriteAvailable"
                        ng-click="toogleFavorite(data.uid)" 
                        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                    <i ng-if="!isFavorite" class="app-icon app-icon--favorite material-icons">star</i>
                    <i ng-if="isFavorite" class="app-icon app-icon--favorite-selected material-icons">star</i>
                </button>
                <i ng-if="isFriend" class="app-icon app-icon--friend material-icons">group</i>
            </div>
            <div class="app-profile__game">
                <div class="app-profile__info-title">
                    {{ 'blitz'|translate }}
                    <div class="app-profile__info app-profile__info--game app-profile__info--blitz" title="{{ 'blitz'|translate }}">
                        <i class="app-icon material-icons">flash_on</i>
                        <div class="app-profile__info-content app-profile__info-content--points" title="{{ 'points'|translate }} ({{ 'blitz'|translate }})">
                            {{ data.blitz.points }}
                        </div>
                        <div class="app-profile__info-content app-profile__info-content--ranking" title="{{ 'ranking'|translate }} ({{ 'blitz'|translate }})">
                            <i class="app-icon material-icons">equalizer</i>
                            {{ data.blitz.ranking | number }}
                        </div>
                    </div>
                </div>
                <div class="app-profile__stats">
                    <div ng-repeat="stat in stats.blitz" class="app-profile__stat app-profile__stat--{{ stat.name }}">
                        <div class="app-profile__progress-bar" id="blitz-{{ stat.name }}"></div>
                        <div class="app-profile__stat-text">
                            <span class="app-profile__stat-value">
                                {{ stat.value }}
                            </span>
                            <span class="app-profile__stat-desc">
                                {{ stat.name|translate }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-profile__game">
                <div class="app-profile__info-title">
                    {{ 'rapid'|translate }}
                    <div class="app-profile__info app-profile__info--game app-profile__info--rapid" title="{{ 'rapid'|translate }}">
                        <i class="app-icon material-icons">timer</i>
                        <div class="app-profile__info-content app-profile__info-content--points" title="{{ 'points'|translate }} ({{ 'rapid'|translate }})">
                            {{ data.rapid.points }}
                        </div>
                        <div class="app-profile__info-content app-profile__info-content--ranking" title="{{ 'ranking'|translate }} ({{ 'rapid'|translate }})">
                            <i class="app-icon material-icons">equalizer</i>
                            {{ data.rapid.ranking | number }}
                        </div>
                    </div>
                </div>
                <div class="app-profile__stats">
                    <div ng-repeat="stat in stats.rapid" class="app-profile__stat app-profile__stat--{{ stat.name }}">
                        <div class="app-profile__progress-bar" id="rapid-{{ stat.name }}"></div>
                        <div class="app-profile__stat-text">
                            <span class="app-profile__stat-value">
                                {{ stat.value }}
                            </span>
                            <span class="app-profile__stat-desc">
                                {{ stat.name|translate }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
