<div id="modal-challenges" 
     class="app-modal app-modal--challenges app-modal__bg" 
     role="dialog" 
     aria-hidden="true"
     data-modal
     modal-close-bg>
    <div class="app-modal__dialog app-modal__dialog--head">
        <a href modal-close class="app-modal__close">
            <i class="material-icons">clear</i>
        </a>
        <div class="app-modal__head">
            {{ 'challenges' | translate }}
        </div>
        <div class="app-modal__content">
            <div class="app-element">
                <div element-content class="app-element__body">
                    <table ng-show="challenges.length" 
                           class="app-table mdl-data-table mdl-js-data-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th sortable collection="challenges" expression="['points', 'time', 'color']" icon="star"></th>
                                <th sortable collection="challenges" expression="['color', 'points', 'time']" icon="invert_colors"></th>
                                <th sortable collection="challenges" expression="['time', 'points', 'color']" icon="schedule"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-if="challenges.length">
                            <tr ng-repeat="challenge in challenges">
                                <td show-profile="challenge" class="app-table__user mdl-data-table__cell--non-numeric">
                                    <img avatar
                                         class="app-table__avatar" 
                                         ng-src="{{challenge.avatar}}">
                                    <span class="app-table__name">{{ challenge.name }}</span>
                                </td>
                                <td class="app-table__points">{{ challenge.points }}</td>
                                <td class="app-table__color" ng-class="getClassColorGame(challenge.color)"></td>
                                <td class="app-table__time">{{ challenge.game.time / 60 }} + {{ challenge.game.increment }}</td>
                                <td class="app-table__actions">
                                    <button ng-click="removeChallenge(challenge.uid)" 
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                        <i class="app-icon material-icons">close</i>
                                    </button>
                                    <button ng-if="!challenge.create" 
                                            ng-click="startChallenge(challenge.uid)" 
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored">
                                        <i class="app-icon material-icons">check</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-hide="challenges.length" class="app-element__loading">
                        <div class="app-spinner app-spinner--small"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>