<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">{{ 'cancel'|translate }}</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ 'shop'|translate }}</h4>
        </div>
        <div class="modal-body">
            <table class="list-user table table-striped table-shop">
                <tbody>
                    <tr ng-repeat="token in tokens">
                        <td class="icon">
                            <span class="icon-king"></span>
                        </td>
                        <td>
                            <div class="total">
                                <span class="number">{{ token.number }}</span>
                                <span>{{ 'tokens'|translate }}</span>
                            </div>
                            <div class="base">
                                <span>{{ token.base }}</span>
                                <span>{{ 'tokens'|translate }}</span>
                            </div>
                        </td>
                        <td class="buy">
                            <button ng-click="buy(token)" class="btn btn-primary">{{ token.price }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
