<div id="modal-create-game" 
     class="app-modal app-modal__bg" 
     role="dialog" 
     aria-hidden="true"
     modal-close-bg>
    <div class="app-modal__dialog">
        <div class="app-modal__head">{{ 'create_game'|translate }}</div>
        <div class="app-modal__content">
            <form ng-submit="createGame()"
                  ng-hide="loadGame"
                  role="form">
                <div class="app-form__select">
                    <select ng-model="game.color" 
                            ng-options="value as value|translate for (key, value) in paramsGame.colors" 
                            id="create-game-color">
                        <option value="">{{ 'random' | translate }}</option>
                    </select>
                    <label for="create-game-color">{{ 'color'|translate }}</label>
                </div>
                <div class="app-form__select">
                    <select ng-model="game.time"
                            ng-options="value as (value / 60) + ' ' + ('minutes'|translate) for (key, value) in paramsGame.times" 
                            id="create-game-time">
                    </select>
                    <label for="create-game-time">{{ 'time'|translate }}</label>
                </div>
                <div class="app-form__select">
                    <div class="app-form__select-grid mdl-grid">
                        <select ng-model="game.pointsMin"
                                ng-options="value as value for (key, value) in paramsGame.pointsMin" 
                                id="create-game-points" 
                                class="mdl-cell--6-col">
                            <option value="">{{ 'min'|translate }}</option>
                        </select>
                        <select ng-model="game.pointsMax"
                                ng-options="value as value for (key, value) in paramsGame.pointsMax"
                                class="mdl-cell--6-col">
                            <option value="">{{ 'max'|translate }}</option>
                        </select>
                    </div>
                    <label for="create-game-points">{{ 'points'|translate }}</label>
                </div>
                <div class="app-modal__actions">
                    <button modal-close type="button" class="mdl-button mdl-button--raised">{{ 'cancel'|translate }}</button>
                    <button type="submit" class="mdl-button mdl-button--raised mdl-button--colored">{{ 'ok'|translate }}</button>
                </div>
            </form>
            <div class="app-search__game" ng-show="loadGame">
                <button ng-click="stopLoad();" 
                        class="app-search__game-edit mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                    <i class="material-icons">edit</i>
                </button>
                <div class="app-search__game-title">
                    <span>{{ 'search'|translate }} ...</span>
                </div>
                <div class="app-search__game-params">
                    <span class="app-search__game-time">{{ game.time / 60 }}:00</span>
                </div>
                <div class="app-search__game-spinner">
                    <span class="app-search__game-color"
                          ng-class="getColorClass(game.color)">
                    </span>
                    <span class="app-spinner"></span>
                </div>
                <div>
                    <button ng-click="removeGame()" modal-close type="button" class="mdl-button mdl-button--raised">{{ 'cancel'|translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
