<div class="view__trophy-title">
    <%= trophy.title %>
</div>
<div class="view__trophy-image">
    <img src="/images/trophies/trophy-<%= id %>.svg">
</div>
<div class="view__trophy-description">
    <%= trophy.description %>
</div>