<div id="modal-trophy"
     class="app-modal app-modal__bg" 
     role="dialog" 
     aria-hidden="true"
     modal-close-bg>
    <div class="app-modal__dialog">
        <div class="app-modal__content app__text-center">
            <a href modal-close class="app-modal__close">
                <i class="material-icons">clear</i>
            </a>
            <h3 class="app-trophy__title">{{ 'trophies.content.' + trophy + '.title' | translate }}</h3>
            <span class="app-trophy__badge app-trophy__badge--modal"
                  ng-class="getUserClass(trophy)"> 
            </span>
            <p class="app-trophy__desc">{{ 'trophies.content.' + trophy + '.description' | translate }}</p>
            <button ng-if="hasTrophy(trophy)"
                    ng-click="shareTrophy(trophy)"
                    type="button"
                    class="mdl-button mdl-button--raised mdl-button--colored">
                    {{ 'share'|translate }}
            </button>
        </div>
    </div>
</div>
