<div class="app-trophy app-trophy--page mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone"
     ng-repeat="value in trophies track by $index"
     ng-click="openTrophy(value)">
    <div class="app-trophy__picture">
       <img ng-if="hasTrophy(value)" ng-src="../images/trophies/trophy-{{ value }}.svg">
       <img ng-if="!hasTrophy(value)" ng-src="../images/trophies/trophy-{{ value }}.svg">
    </div>
    <div class="app-trophy__content">
        <h3 class="app-trophy__title">{{ 'trophies.content.' + value + '.title' | translate }}</h3>
        <p class="app-trophy__desc">{{ 'trophies.content.' + value + '.description' | translate }}</p>
    </div>
</div>
