<div class="app-head mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div profile-game player="player2"></div>
</div>

<div class="app-game__content app-element mdl-shadow--2dp mdl-cell mdl-cell--12-col" 
     ng-class="{'app-game--white': orientation == 'white', 'app-game--black': orientation == 'black'}">
    <div ng-repeat="number in numbers" class="app-game__row">
        <div 
            ng-repeat="letter in letters" 
            ng-init="position = letter + number" 
            ng-class="{'last-turn': isLastTurn(position) }" 
            id="{{position}}" 
            class="app-game__box"
            data-game-box>
            <div class="app-game__box-content">
                <span ng-if="game.pieces[position]" class="app-game__piece" piece-draggable data-position="{{ position }}">
                    <img ng-src="../images/game-1/{{ game.pieces[position].name }}-{{ game.pieces[position].color }}.svg"
                         class="app-game__piece-image">
                </span>
            </div>
        </div>
    </div>
</div>

<div class="app-head mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div profile-game player="player1"></div>
</div>

<div element class="mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="app-notations">
        <table class="app-table app-table--notations mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'white'|translate }}</th>
                    <th></th>
                    <th></th>
                    <th>{{ 'black'|translate }}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="played in game.played">
                    <td class="app-table--notations-index mdl-data-table__cell--non-numeric">{{ $index + 1 }}</td>
                    <td class="app-table--notations-text app-table--notations-white mdl-data-table__cell--non-numeric">{{ played.white.notation }}</td>
                    <td class="app-table--notations-white">{{ played.white.time }}'</td>
                    <td class="app-table--notations-white">{{ played.white.score }}'</td>
                    <td ng-if="played.black" class="app-table--notations-text app-table--notations-black mdl-data-table__cell--non-numeric">{{ played.black.notation }}</td>
                    <td ng-if="played.black" class="app-table--notations-black">{{ played.black.time }}'</td>
                    <td ng-if="played.black" class="app-table--notations-black">{{ played.black.score }}'</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="modal-response-draw" 
     class="app-modal app-modal__bg" 
     role="dialog" 
     aria-hidden="true"
     modal-close-bg>
    <div class="app-modal__dialog">
        <div class="app-modal__content">
            <h4 class="app-modal__title">{{ player2.name }} {{ 'offers_a_draw'|translate }} ?</h4>
            <div class="app-modal__actions">
                <button modal-close 
                        type="reset" 
                        class="mdl-button mdl-button--raised">
                        {{ 'cancel'|translate }}
                </button>
                <button modal-close 
                        ng-click="acceptDraw()"
                        type="button" 
                        class="mdl-button mdl-button--raised mdl-button--colored">
                        {{ 'ok'|translate }}
                </button>
            </div>
        </div>
    </div>
</div>

<div id="modal-possible-draw"
     class="app-modal app-modal__bg" 
     role="dialog" 
     aria-hidden="true">
    <div class="app-modal__dialog">
        <div class="app-modal__content">
            <h4 class="app-modal__title">{{ 'draw'|translate }} ?</h4>
            <div class="app-modal__actions">
                <button modal-close 
                        type="reset" 
                        class="mdl-button mdl-button--raised">
                        {{ 'cancel'|translate }}
                </button>
                <button modal-close 
                        ng-click="acceptDraw()"
                        type="button" 
                        class="mdl-button mdl-button--raised mdl-button--colored">
                        {{ 'ok'|translate }}
                </button>
            </div>
        </div>
    </div>
</div>

<div id="modal-finish-game" 
     class="app-modal app-modal__bg"
     role="dialog" 
     aria-hidden="true"
     modal-close-bg>
    <div class="app-modal__dialog">
        <div class="app-modal__content app__text-center">
            <a href modal-close class="app-modal__close">
                <i class="material-icons">clear</i>
            </a>
            <h4 class="app-modal__title">{{ 'game_over'|translate }}</h4>
            <h5 class="app-game-over__result-name">{{ game.result.name|translate }}</h5>
            <h6 class="app-game-over__result-winner" ng-if="game.result.value === 1">{{ 'winner'|translate }}: {{ game.white.name }}</h6>
            <h6 class="app-game-over__result-winner" ng-if="game.result.value === 2">{{ 'winner'|translate }}: {{ game.black.name }}</h6>
            <button ng-click="shareResult()"
                    type="button" 
                    class="mdl-button mdl-button--raised mdl-button--colored">
                    {{ 'share'|translate }}
            </button>
        </div>
    </div>
</div>

<div id="modal-promotion" 
     class="app-modal app-modal__bg"
     role="dialog" 
     aria-hidden="true">
    <div class="app-modal__dialog">
        <div class="app-modal__content">
            <div class="app-promotion__icon"
                 ng-repeat="piece in ['queen', 'rook', 'knight', 'bishop']">
                <div class="app-game__box-content">
                    <a href 
                       class="app-game__icon app-game__icon--{{ piece }}" 
                       modal-close 
                       data-icon="{{ piece }}">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
