<div class="app-head app-head--game mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div profile-game player="player2"></div>
</div>

<div class="app-game__content app-element mdl-shadow--2dp mdl-cell mdl-cell--12-col" 
     ng-class="{'app-game--white': orientation == 'white', 'app-game--black': orientation == 'black'}">
    <div ng-repeat="number in numbers" class="app-game__row">
        <div 
            ng-repeat="letter in letters" 
            ng-init="position = letter + number" 
            ng-class="{'last-turn': isLastTurn(position) }" 
            id="{{position}}" 
            class="app-game__box"
            data-game-box>
            <div class="app-game__box-content">
                <span ng-if="game.pieces[position]" class="app-game__piece" piece-draggable data-position="{{ position }}">
                    <img ng-src="../images/game-1/{{ game.pieces[position].name }}-{{ game.pieces[position].color }}.svg"
                         class="app-game__piece-image app__no-drag">
                </span>
            </div>
        </div>
    </div>
</div>

<div class="app-head app-head--game mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div profile-game player="player1"></div>
</div>

<div class="mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <table ng-if="isPlayer()" 
           class="app-table app-table--game-actions">
        <tbody>
            <tr>
                <td>
                    <button ng-disabled="!possibleResign()"
                            show-modal="modal-resign" 
                            class="app-button mdl-button mdl-js-button">
                            {{ 'resign'|translate }}
                    </button>
                </td>
                <td>
                    <button ng-disabled="!possibleOfferDraw()"
                            show-modal="modal-offer-draw" 
                            class="app-button mdl-button mdl-js-button">
                            {{ 'offer_draw'|translate }}
                    </button>
                </td>
                <td>
                    <button ng-disabled="!possibleDraw()"
                            show-modal="modal-possible-draw" 
                            class="app-button mdl-button mdl-js-button">
                            {{ 'draw'|translate }}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-if="game" class="mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <table class="app-table app-table--game mdl-data-table mdl-js-data-table">
        <thead>
            <tr>
                <th></th>
                <th>{{ 'win' | translate }}</th>
                <th>{{ 'draw' | translate }}</th>
                <th>{{ 'lose'|translate }}</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ 'white' | translate }}</td>
                <td>{{ getPoints(game.white, game.black, 1) }}</td>
                <td>{{ getPoints(game.white, game.black, 0.5) }}</td>
                <td>{{ getPoints(game.white, game.black, 0) }}</td>
                <td ng-init="percentage = getPercentage(game.white, game.black)">{{ percentage }}%</td>
            </tr>
            <tr>
                <td>{{ 'black' | translate }}</td>
                <td>{{ getPoints(game.black, game.white, 1) }}</td>
                <td>{{ getPoints(game.black, game.white, 0.5) }}</td>
                <td>{{ getPoints(game.black, game.white, 0) }}</td>
                <td>{{ 100 - percentage }}%</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="app-game__toggle app-game__toggle--played mdl-shadow--2dp" ng-class="{'show' : showPlayedPhone }">
    <div class="app-game__toggle-head"
         ng-click="togglePlayed()">
        
        <i class="app-game__toggle-icon app-game__toggle-icon--description material-icons">description</i> 
        <i class="app-game__toggle-icon app-game__toggle-icon--action material-icons">
            {{ showPlayed ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}
        </i>

        <div ng-click="togglePlayedPhone()" class="app-game__toggle-icon--phone">
            <i class="app-game__toggle-icon material-icons">description</i> 
        </div>
        <div ng-click="togglePlayedPhone()" class="app-game__toggle-icon--phone app-game__toggle-icon--action-phone">
            <i class="app-game__toggle-icon material-icons">
                {{ showPlayed ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}
            </i>
        </div>

        <table class="app-table app-table--game app-table--game-played mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th class="app-table--game-played-index"></th>
                    <th class="app-table--game-played-white">{{ 'white'|translate }}</th>
                    <th class="app-table--game-played-black">{{ 'black'|translate }}</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="app-game__toggle-content"
         ng-show="showPlayed"
         scroll-down="'played'"
         scroll-down-show="'showPlayed'">
        <table class="app-table app-table--game app-table--game-played mdl-data-table mdl-js-data-table">
            <tbody>
                <tr ng-repeat="play in played">
                    <td class="app-table--game-played-index">{{ $index + 1 }}</td>
                    <td class="app-table--game-played-notation app-table--game-played-white" 
                        ng-class="{'app__clickable': play.white.pieces}"
                        ng-click="replay(play.white)">
                        {{ play.white.notation }}
                    </td>
                    <td class="app-table--game-played-time app-table--game-played-white">{{ play.white.time }}'</td>
                    <td class="app-table--game-played-notation app-table--game-played-black" 
                        ng-class="{'app__clickable': game.finish}"
                        ng-click="replay(play.black)">
                        <span ng-if="play.black.notation">{{ play.black.notation }}</span>
                    </td>
                    <td class="app-table--game-played-time app-table--game-played-black">
                        <span ng-if="play.black.time">{{ play.black.time }}'</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="app-game__toggle app-game__toggle--messages mdl-shadow--2dp" ng-class="{'show' : showMessagesPhone }">
    <div class="app-game__toggle-head app-game__toggle-head--messages"
         ng-click="toggleMessages()">
        
        <i class="app-game__toggle-icon app-game__toggle-icon--description material-icons">chat</i>
        <i class="app-game__toggle-icon app-game__toggle-icon--action material-icons">
            {{ showMessages ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}
        </i>

        <div ng-click="toggleMessagesPhone()" class="app-game__toggle-icon--phone">
            <i class="app-game__toggle-icon material-icons">chat</i> 
        </div>
        <div ng-click="toggleMessagesPhone()" class="app-game__toggle-icon--phone app-game__toggle-icon--action-phone">
            <i class="app-game__toggle-icon material-icons">
                {{ showMessages ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}
            </i>
        </div>

        <span class="app-game__toggle-count" ng-if="unreadMessages">{{ unreadMessages }}</span>
    </div>
    <div class="app-game__toggle-content app-game__toggle-content--messages"
         ng-show="showMessages"
         scroll-down="'messages'"
         scroll-down-show="'showMessages'">
         <div ng-repeat="message in messages" class="app-game__messages">
            <div class="app-game__message" ng-class="{'app-game__message--user': message.uid === user.uid, 'app-game__message--next': message.uid === messages[$index - 1].uid }">
                <div class="app-game__message-avatar">
                    <img ng-src="{{ message.avatar }}">
                </div>
                <div class="app-game__message-content">
                    <div class="app-game__message-message">{{ message.message }}</div>
                    <div class="app-game__message-infos">{{ message.name }} {{ getLocaleTime(message.time) }}</div>
                </div>
            </div>
         </div>
    </div>
    <form ng-submit="sendMessage()" ng-show="showMessages">
         <div class="app-game__toggle-textfield">
            <input placeholder="..." ng-model="message">
        </div>
    </form>
</div>

<div class="app-game__toggle app-game__toggle--phone mdl-shadow--2dp" ng-hide="showMessagesPhone || showPlayedPhone">
    <div class="app-game__toggle-head app-game__toggle-head--phone">
        <div class="app-game__toggle-icon--phone" ng-click="changeSound()">
            <i class="app-game__toggle-icon material-icons">{{ sound ? 'volume_up' : 'volume_off'}}</i>
        </div>
        <div class="app-game__toggle-icon--phone" ng-click="toggleMessagesPhone()">
            <i class="app-game__toggle-icon material-icons">chat</i>
        </div>
        <div class="app-game__toggle-icon--phone" ng-click="togglePlayedPhone()">
            <i class="app-game__toggle-icon material-icons">description</i>
        </div>
        <div class="app-game__toggle-count--phone" ng-if="unreadMessages" ng-click="toggleMessagesPhone()">
            <span class="app-game__toggle-count">{{ unreadMessages }}</span>
        </div>
    </div>
</div>

<div class="app-button__fixed app-button__fixed--game">
    <button class="app-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect"
            ng-hide="hideSound"
            ng-click="changeSound()">
        <i class="material-icons">{{ sound ? 'volume_up' : 'volume_off'}}</i>
    </button>
</div>

<div ng-if="isPlayer()">
    <div id="modal-response-draw" 
         class="app-modal app-modal__bg" 
         role="dialog" 
         aria-hidden="true"
         modal-close-bg>
        <div class="app-modal__dialog">
            <div class="app-modal__content">
                <h4 class="app-modal__title">{{ player2.name }} {{ 'offers_a_draw'|translate }} ?</h4>
                <div class="app-modal__actions">
                    <button modal-close 
                            type="reset" 
                            class="mdl-button mdl-button--raised">
                            {{ 'cancel'|translate }}
                    </button>
                    <button modal-close 
                            ng-click="acceptDraw()"
                            type="button" 
                            class="mdl-button mdl-button--raised mdl-button--colored">
                            {{ 'ok'|translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-possible-draw"
         class="app-modal app-modal__bg" 
         role="dialog" 
         aria-hidden="true">
        <div class="app-modal__dialog">
            <div class="app-modal__content">
                <h4 class="app-modal__title">{{ 'draw'|translate }} ?</h4>
                <div class="app-modal__actions">
                    <button modal-close 
                            type="reset" 
                            class="mdl-button mdl-button--raised">
                            {{ 'cancel'|translate }}
                    </button>
                    <button modal-close 
                            ng-click="acceptDraw()"
                            type="button" 
                            class="mdl-button mdl-button--raised mdl-button--colored">
                            {{ 'ok'|translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-offer-draw" 
         class="app-modal app-modal__bg" 
         role="dialog" 
         aria-hidden="true"
         modal-close-bg>
        <div class="app-modal__dialog">
            <div class="app-modal__content">
                <h4 class="app-modal__title">{{ 'offer_draw'|translate }} ?</h4>
                <div class="app-modal__actions">
                    <button modal-close 
                            type="reset" 
                            class="mdl-button mdl-button--raised">
                            {{ 'cancel'|translate }}
                    </button>
                    <button modal-close 
                            ng-click="offerDraw()"
                            type="button" 
                            class="mdl-button mdl-button--raised mdl-button--colored">
                            {{ 'ok'|translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-resign" 
         class="app-modal app-modal__bg" 
         role="dialog" 
         aria-hidden="true"
         modal-close-bg>
        <div class="app-modal__dialog">
            <div class="app-modal__content">
                <h4 class="app-modal__title">{{ 'resign'|translate }} ?</h4>
                <div class="app-modal__actions">
                    <button modal-close 
                            type="reset" 
                            class="mdl-button mdl-button--raised">
                            {{ 'cancel'|translate }}
                    </button>
                    <button modal-close 
                            ng-click="resign()" 
                            type="button" 
                            class="mdl-button mdl-button--raised mdl-button--colored">
                            {{ 'ok'|translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-promotion" 
         class="app-modal app-modal__bg"
         role="dialog" 
         aria-hidden="true">
        <div class="app-modal__dialog">
            <div class="app-modal__content">
                <div class="app-promotion__icon"
                     ng-repeat="piece in ['queen', 'rook', 'knight', 'bishop']">
                    <div class="app-game__box-content">
                        <a href 
                           class="app-game__icon app-game__icon--{{ piece }}" 
                           modal-close 
                           data-icon="{{ piece }}">
                           <img ng-src="../images/game-1/{{ piece }}-{{ getPlayerColor() }}.svg"
                             class="app-game__piece-image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-finish-game" 
     class="app-modal app-modal__bg"
     role="dialog" 
     aria-hidden="true"
     modal-close-bg>
    <div class="app-modal__dialog">
        <div class="app-modal__content app__text-center">
            <a href modal-close class="app-modal__close">
                <i class="material-icons">clear</i>
            </a>
            <h4 class="app-modal__title">{{ 'game_over'|translate }}</h4>
            <h5 class="app-game-over__result-name">{{ game.result.name|translate }}</h5>
            <h6 class="app-game-over__result-winner" ng-if="game.result.value === 1">{{ 'winner'|translate }}: {{ game.white.name }}</h6>
            <h6 class="app-game-over__result-winner" ng-if="game.result.value === 2">{{ 'winner'|translate }}: {{ game.black.name }}</h6>
            <table class="app-table app-table--game app-table--game-stats mdl-data-table mdl-js-data-table">
                <thead>
                    <tr>
                        <th></th>
                        <th><span class="app-icon__points"></span></th>
                        <th></th>
                        <th><span class="app-icon__ranking"></span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ game.white.name }}</td>
                        <td>{{ resultGame.white.points }}</td>
                        <td>{{ game.white.points - resultGame.white.points }}</td>
                        <td>{{ resultGame.white.ranking }}</td>
                        <td>{{ game.white.ranking - resultGame.white.ranking }}</td>
                    </tr>
                    <tr>
                        <td>{{ game.black.name }}</td>
                        <td>{{ resultGame.black.points }}</td>
                        <td>{{ game.black.points - resultGame.black.points }}</td>
                        <td>{{ resultGame.black.ranking }}</td>
                        <td>{{ game.black.ranking - resultGame.black.ranking }}</td>
                    </tr>
                </tbody>
            </table>
            <button ng-click="shareResult()"
                    type="button" 
                    class="mdl-button mdl-button--raised mdl-button--colored">
                    {{ 'share'|translate }}
            </button>
        </div>
    </div>
</div>
