<div class="modal-dialog">
    <div class="modal-content modal-content-no-body">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">{{ 'cancel'|translate }}</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ 'offers_a_draw'|translate }} ?</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|translate }}</button>
            <button ng-click="acceptDraw()" type="button" class="btn btn-primary" data-dismiss="modal">{{ 'ok'|translate }}</button>
        </div>
    </div>
</div>
