<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">{{ 'cancel'|translate }}</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ 'game_over'|translate }}</h4>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <h3 class="text-primary">{{ game.result.name|translate }}</h3>
                <h3 ng-if="game.result.winner === 1">{{ 'winner'|translate }}: {{ game.white.name }}</h3>
                <h3 ng-if="game.result.winner === 2">{{ 'winner'|translate }}: {{ game.black.name }}</h3>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="shareResult()" type="button" class="btn btn-primary">{{ 'share'|translate }}</button>
        </div>
    </div>
</div>

