<div class="app-profile app-profile--game element" ng-class="{'app-profile--player': isPlayerUser()}">
    <div class="app__pull-right">
        <div class="app-game__time" ng-class="{'app-game__time--danger': player.time < 10}">
            {{ formatTime(player.time) }}
        </div>
        <div class="app-game__time" ng-class="{'app-game__time--danger': player.timeTurn < 10}">
            {{ formatTime(player.timeTurn) }}
        </div>
    </div>

    <div ng-class="{'app-profile__show-pieces': hasLostPieces()">
        <div class="app__pull-left">
            <a show-profile="player" href>
                <img show-profile="player" class="app-profile__avatar" ng-src="{{ player.avatar }}">
            </a>
        </div>
        <div class="app-profile__name">
            <a show-profile="player" class="app-profile__name" href>{{ player.name }}</a>
        </div>
        <div class="app-profile__info">
            <span class="app-icon app-icon__ranking"></span>
            <span>{{ player.ranking }}</span>
        </div>
        <div class="app-profile__info">
            <span class="app-icon app-icon__points"></span>
            <span>{{ player.points }}</span>
        </div>
        <div class="app-game__lost-pieces">
            <span ng-repeat="(name, number) in player.lostPieces"
                  class="app-game__lost-pieces-group app-game__lost-pieces-group--{{ name }}">
                <span ng-if="number > 0"
                      ng-repeat="i in getLostPieces(number)"
                      class="app-game__lost-piece">
                    <img ng-src="../images/game-1/{{ name }}-{{ player.color }}.svg">
                </span>
            </span>
        </div>
    </div>
</div>
