<div class="app-profile app-profile--game element" ng-class="{'app-profile--player': isPlayerUser()}">
    <div class="app__pull-right">
        <div class="app-game__time" ng-class="{'app-game__time--danger': player.time < 10}">
            {{ formatTime(player.time) }}
        </div>
        <div class="app-game__time" ng-class="{'app-game__time--danger': player.timeTurn < 10}">
            {{ formatTime(player.timeTurn) }}
        </div>
    </div>

    <div class="app__pull-right app-game__action"
         ng-if="isPlayerUser() && !isFinish()">
        <button ng-disabled="!canOfferDraw()"
                show-modal="modal-offer-draw" 
                class="app-button app-button--phone app__button--small app-game__action-button mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect">
            {{ 'offer_draw'|translate }}
        </button>
        <button show-modal="modal-resign" 
                class="app-button app-button--phone app__button--small app-game__action-button mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect"
                ng-disabled="!canResign()">
            {{ 'resign'|translate }}
        </button>

        <div id="modal-offer-draw" 
             class="app-modal app-modal__bg" 
             role="dialog" 
             aria-hidden="true"
             modal-close-bg>
            <div class="app-modal__dialog">
                <div class="app-modal__content">
                    <h4 class="app-modal__title">{{ 'offer_draw'|translate }} ?</h4>
                    <div class="app-modal__actions">
                        <button modal-close 
                                type="reset" 
                                class="mdl-button mdl-button--raised">
                                {{ 'cancel'|translate }}
                        </button>
                        <button modal-close 
                                ng-click="offerDraw()"
                                type="button" 
                                class="mdl-button mdl-button--raised mdl-button--colored">
                                {{ 'ok'|translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-resign" 
             class="app-modal app-modal__bg" 
             role="dialog" 
             aria-hidden="true"
             modal-close-bg>
            <div class="app-modal__dialog">
                <div class="app-modal__content">
                    <h4 class="app-modal__title">{{ 'resign'|translate }} ?</h4>
                    <div class="app-modal__actions">
                        <button modal-close 
                                type="reset" 
                                class="mdl-button mdl-button--raised">
                                {{ 'cancel'|translate }}
                        </button>
                        <button modal-close 
                                ng-click="resign()" 
                                type="button" 
                                class="mdl-button mdl-button--raised mdl-button--colored">
                                {{ 'ok'|translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="app__pull-left">
            <a show-profile="player" href>
                <img show-profile="player" class="app-profile__image" ng-src="{{ player.avatar }}">
            </a>
        </div>
        <div class="app-profile__name">
            <a show-profile="player" class="app-profile__name" href>{{ player.name }}</a>
        </div>
        <div class="app-profile__info">
            <span class="app-icon app-icon__ranking"></span>
            <span>{{ player.ranking }}</span>
        </div>
        <div class="app-profile__info">
            <span class="app-icon app-icon__points"></span>
            <span>{{ player.points }}</span>
        </div>
    </div>
</div>
