<div class="pull-right">
    <div class="time">
        {{ formatTime(player.time) }}
    </div>
    <div class="time time-turn">
        {{ formatTime(player.timeTurn) }}
    </div>
</div>
<div class="pull-left img">
    <img class="profile-picture" ng-src="//graph.facebook.com/{{ player.uid }}/picture">
</div>
<div>
    <a href>{{ player.name }}</a>
    <div ng-if="isPlayerUser()" class="actions">
        <button ng-click="offerDraw()" type="button" class="btn btn-danger">{{ 'offer_draw'|translate }}</button>
        <button ng-click="resign()" type="button" class="btn btn-danger">{{ 'resign'|translate }}</button>
    </div>
</div>
<div class="clear"></div>
