@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-5ohroj');
	src:url('fonts/icomoon.eot?#iefix-5ohroj') format('embedded-opentype'),
		url('fonts/icomoon.woff?-5ohroj') format('woff'),
		url('fonts/icomoon.ttf?-5ohroj') format('truetype'),
		url('fonts/icomoon.svg?-5ohroj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-color:before {
	content: "\e021";
}
.icon-time:before {
	content: "\e102";
}
.icon-ranking:before {
	content: "\e216";
}
.icon-points:before {
	content: "\e21f";
}
.icon-move:before {
	content: "\e352";
}
.icon-arrow-down:before {
	content: "\e3b2";
}
.icon-arrow-left:before {
	content: "\e3b3";
}
.icon-sort-up:before {
	content: "\e3b4";
}
.icon-sort-down:before {
	content: "\e3b6";
}
