* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #C8C8C8;
    font-size: 13px;
}

a {
    cursor:pointer;
    font-weight:bold;
    text-decoration: none;
    color: #3b5998
}

a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}

/*** Bootstrap ***/
.table > tbody > tr > td {
    vertical-align: middle;
}

/*** Icomoon ***/
[class^="icon-"], [class*=" icon-"] {
    font-size: 16px;
    color: #444444;
}

.icon-table-sortable {
    position: relative;
    top: 3px;
}

.clear {
    clear: both;
}

header {
    background-color: #002D40;
    padding: 10px 0;
    border-bottom: 3px solid #fff;
    box-shadow: 0 0 5px #000;
}

header #header {
    position: relative;
    width: 728px;
    height: 90px;
    margin: 0 auto;
    background-color: #002D40;
}


header #header iframe {
    width: 728px;
    height: 90px;
    padding: 0;
    overflow: hidden;
}

.app {
    width: 750px;
    margin: 0 auto;
}

.content {
    height: 580px;
    margin: 20px 0;
}

.content .element {
    border-radius: 5px;
    background: #fff;
}

.content .element:nth-child(even) { 
    margin-top: 10px;
}

.content .profil {
    position: relative;
    padding: 10px;
    height: 70px;
}

.content .profil .img {
    padding-right: 10px;
    border-radius: 3px;
}

.content .clock {
    background: #362F2D;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    text-align: center;
}

footer {
    position: relative;
    width: 100%;
    height: 100%;
    background: #595959;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

footer .footer {
    position: relative;
    width: 760px;
    height: 300px;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
}

footer .footer #pub {
    float: right;
    width: 300px;
    height: 250px;
}

footer .footer .fb-like-box {
    width: 428px;
    height: 250px;
}

footer .footer .link {
    margin-top: 20px;
    text-align: center;
}

footer .footer .link a {
    font-weight: normal;
    padding: 0 5px;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.loading .loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/loading.gif) #fff no-repeat center;
    opacity: 0.7;
}