.app-title {
    display: block !important;
}

.app-logo__text {
    font-size: 24px;
    font-weight: 700;
    margin-left: 56px;
    color: #fff;
    line-height: 40px;
    height: 40px;
}

.view__trophy-title {
    font-family: "Trebuchet MS", Arial, sans-serif;
    text-transform: uppercase;
    background-color: #795548;
    color: #fff;
    font-size: 36px;
    padding: 20px 0;
    text-align: center;
    line-height: 36px;
}

.view__trophy-image {
    text-align: center;
    width: 100%;
    padding: 60px 0;
}

.view__trophy-image > img {
    width: 320px;
}

.view__trophy-description {
    font-size: 24px;
    padding-bottom: 24px;
    text-align: center;
    line-height: 36px;
}

@media screen and (max-width: 599px) {
    .view__trophy-title {
        font-size: 24px;
        padding: 16px 0;
        text-align: center;
        line-height: 24px;
    }

    .view__trophy-image > img {
        width: 280px;
    }

    .view__trophy-description {
        font-size: 24px;
        padding-bottom: 24px;
        text-align: center;
        line-height: 36px;
    }
}

@media screen and (max-width: 479px) {
    .view__trophy-image {
        padding: 40px 0;
    }
    .view__trophy-image > img {
        width: 200px;
    }
}