<div class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="profile element" profile-game player="player2"></div>
            <div class="element">
                <div class="game" ng-class="{'game-white': orientation == 'white', 'game-black': orientation == 'black'}">
                    <div ng-repeat="number in numbers" class="game-row">
                        <div ng-repeat="letter in letters" class="game-box">
                            <span ng-if="game.pieces[letter + number]" ng-class="getPieceClass('{{letter + number}}')" draggable data-position="{{letter + number}}"></span>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="profile element" profile-game player="player1"></div>
        </div>
    </div>
</div>
