<div class="app-home__head mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div profile-game player="player2"></div>
</div>

<div class="app-home__head mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div profile-game player="player1"></div>
</div>

<div id="modal-response-draw" 
     class="app-modal app-modal__bg" 
     role="dialog" 
     aria-hidden="true">
    <div class="app-modal__dialog">
        <div class="app-modal__content">
            <h4 class="app-modal__title">{{ player2.name }} {{ 'offers_a_draw'|translate }} ?</h4>
            <div class="app-modal__actions">
                <button modal-close 
                        type="reset" 
                        class="mdl-button mdl-button--raised close">
                        {{ 'cancel'|translate }}
                </button>
                <button modal-close 
                        ng-click="acceptDraw()"
                        type="button" 
                        class="mdl-button mdl-button--raised mdl-button--colored close">
                        {{ 'ok'|translate }}
                </button>
            </div>
        </div>
    </div>
</div>

<div id="modal-finish-game" 
     class="app-modal app-modal__bg"
     role="dialog" 
     aria-hidden="true">
    <div class="app-modal__dialog">
        <div class="app-modal__content app__text-center">
            <h4 class="app-modal__title">{{ 'game_over'|translate }}</h4>
            <h5 class="app-game-over__result-name">{{ game.result.name|translate }}</h5>
            <h6 class="app-game-over__result-winner" ng-if="game.result.winner === 1">{{ 'winner'|translate }}: {{ game.white.name }}</h6>
            <h6 class="app-game-over__result-winner" ng-if="game.result.winner === 2">{{ 'winner'|translate }}: {{ game.black.name }}</h6>
            <button ng-click="shareResult()"
                    type="button" 
                    class="mdl-button mdl-button--raised">
                    {{ 'share'|translate }}
            </button>
        </div>
    </div>
</div>

<!--
<div class="content no-select">
    <div class="row">
        <div class="col-md-10">
            <div class="notation">
                <div class="element">
                    <div ng-repeat="notation in player1.notation track by $index">{{ notation }}</div>
                </div>
                <div class="element">
                    <div ng-repeat="notation in player2.notation track by $index">{{ notation }}</div>
                </div>
            </div>
            <div class="game element" ng-class="{'game-white': orientation == 'white', 'game-black': orientation == 'black'}">
                <div ng-repeat="number in numbers" class="game-row">
                    <div 
                        ng-repeat="letter in letters" 
                        ng-init="position = letter + number" 
                        ng-class="isLastTurn(position)" 
                        id="{{position}}" 
                        class="game-box">
                        <span class="piece" ng-class="getPieceClass(position)" draggable data-position="{{position}}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="game.finish" class="col-md-2" col-right></div>
    </div>
</div>

<div modal-promotion class="modal fade" id="modal-promotion"></div>
<div modal-response-draw class="modal fade" id="modal-response-draw"></div>
<div modal-finish-game class="modal fade" id="modal-finish-game"></div>

-->
