<button ng-click="dropdownFilterGameToggle()"
        ng-class="{'mdl-button--colored': hasFiltersGame()}"
        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
    <i class="material-icons">settings</i>
</button>
<div class="dropdown">
    <form role="form">
        <div class="mui-select">
            <select ng-model="searchGame.color" 
                    ng-options="value as value|translate for (key, value) in paramsSearchGame.colors" 
                    id="search-game-color">
            </select>
            <label for="search-game-color">{{ 'color'|translate }}</label>
        </div>
        <div class="mui-select">
            <select ng-model="searchGame.time"
                    ng-options="value as (value / 60) + ' ' + 'minutes'|translate for (key, value) in paramsSearchGame.times" 
                    id="search-game-time">
            </select>
            <label for="search-game-time">{{ 'time'|translate }}</label>
        </div>
        <div class="mui-select">
            <div class="mdl-grid">
                <select ng-model="searchGame.pointsMin"
                        ng-options="value as value for (key, value) in paramsSearchGame.pointsMin" 
                        id="search-game-points" 
                        class="mdl-cell--6-col">
                    <option value="">{{ 'min'|translate }}</option>
                </select>
                <select ng-model="searchGame.pointsMax"
                        ng-options="value as value for (key, value) in paramsSearchGame.pointsMax"
                        class="mdl-cell--6-col">
                    <option value="">{{ 'max'|translate }}</option>
                </select>
            </div>
            <label for="search-game-points">{{ 'points'|translate }}</label>
        </div>
        <div class="modal__actions">
            <button ng-click="resetSearchGame(); dropdownFilterGameToggle()"
                    class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                <i class="material-icons">close</i>
            </button>
            <button ng-click="dropdownFilterGameToggle()"
                    class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                <i class="material-icons">check</i>
            </button>
        </div>
    </form>
</div>
