<div class="app-head mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="app-profile">
        <div class="app__pull-left">
            <a show-profile="user" href>
                <img class="app-profile__image" ng-src="{{ user.avatar }}">
            </a>
        </div>
        <div class="app-profile__name">
            <a show-profile="user" class="app-profile__name" href>{{ user.name }}</a>
        </div>
        <div class="app-profile__info">
            <span class="app-icon app-icon__ranking"></span>
            <span>{{ user.ranking }}</span>
        </div>
        <div class="app-profile__info">
            <span class="app-icon app-icon__points"></span>
            <span>{{ user.points }}</span>
        </div>
    </div>
    <div class="app-button__create-game">
        <button show-modal="modal-create-game" 
                class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect">
            {{ 'create_game' | translate }}
        </button>
    </div>
</div>

<div element class="app-element app-element--small mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="app-element__head">
        <span>{{ 'games'|translate }}</span>
        <span class="app-element__badge">{{ createdGames.length || 0 }}</span>
        <div class="app-element__tools">
            <element-toggle></element-toggle>
        </div>
    </div>
    <div element-content class="app-element__body">
        <table ng-show="createdGames.length"
               class="app-table mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th></th>
                    <th sortable collection="createdGames" expression="['points', 'time', 'color']" icon="points"></th>
                    <th sortable collection="createdGames" expression="['color', 'points', 'time']" icon="king"></th>
                    <th sortable collection="createdGames" expression="['time', 'points', 'color']" icon="time"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="game in createdGames">
                    <td show-profile="game" class="app-table__user mdl-data-table__cell--non-numeric">
                        <img class="app-table__avatar" ng-src="{{ game.avatar }}">
                        <span class="app-table__name">{{ game.name }}</span>
                    </td>
                    <td>{{ game.points }}</td>
                    <td>{{ game.color | translate }}</td>
                    <td>{{ game.time / 60 }}:00</td>
                    <td>
                        <button ng-if="game.uid == user.uid" 
                                ng-click="removeGame()" 
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                            <i class="material-icons">close</i>
                        </button>
                        <button ng-if="game.uid != user.uid" 
                                ng-click="startGame(game.uid)" 
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored">
                            <i class="material-icons">check</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="!createdGames.length" class="app-element__loading">
            <img src="/images/spin.svg">
        </div>
    </div>
</div>

<div element 
     ng-if="challenges.length"
     class="app-element app-element--small mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="app-element__head">
        <span>{{ 'challenges'|translate }}</span>
        <span class="app-element__badge">{{ challenges.length }}</span>
        <div class="app-element__tools">
            <element-toggle></element-toggle>
        </div>
    </div>
    <div element-content class="app-element__body">
        <table class="app-table mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th></th>
                    <th sortable collection="challenges" expression="['points', 'time', 'color']" icon="points"></th>
                    <th sortable collection="challenges" expression="['color', 'points', 'time']" icon="king"></th>
                    <th sortable collection="challenges" expression="['time', 'points', 'color']" icon="time"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="challenge in challenges">
                    <td show-profile="challenge" class="app-table__user mdl-data-table__cell--non-numeric">
                        <img class="app-table__avatar" ng-src="{{challenge.avatar}}">
                        <span class="app-table__name">{{ challenge.name }}</span>
                    </td>
                    <td>{{ challenge.points }}</td>
                    <td>{{ challenge.color | translate }}</td>
                    <td>{{ challenge.time / 60 }}:00</td>
                    <td>
                        <button ng-click="removeChallenge(challenge.uid)" 
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                            <i class="material-icons">close</i>
                        </button>
                        <button ng-if="!challenge.create" 
                                ng-click="startChallenge(challenge.uid)" 
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored">
                            <i class="material-icons">check</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div element class="app-element app-element--small mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="app-element__head">
        <span>{{ 'challengers'|translate }}</span>
        <span class="app-element__badge">{{ challengers.length || 0 }}</span>
        <div class="app-element__tools">
            <element-toggle></element-toggle>
        </div>
    </div>
    <div element-content class="app-element__body">
        <table ng-show="challengers.length"
               class="app-table mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th></th>
                    <th sortable collection="challengers" expression="['points', 'ranking']" icon="points"></th>
                    <th sortable collection="challengers" expression="['ranking', 'points']" icon="ranking"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="challenger in challengers">
                    <td show-profile="challenger" class="app-table__user mdl-data-table__cell--non-numeric">
                        <img class="app-table__avatar" ng-src="{{challenger.avatar}}">
                        <span class="app-table__name">{{ challenger.name }}</span>
                    </td>
                    <td>{{ challenger.points }}</td>
                    <td>{{ challenger.ranking }}</td>
                    <td>
                        <button ng-if="challenger.uid !== user.uid"
                                ng-click="setChallenger(challenger)"
                                show-modal="modal-challenger"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored">
                            <i class="material-icons">check</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="!challengers.length" class="app-element__loading">
            <img src="/images/spin.svg">
        </div>
    </div>
</div>

<div element 
     ng-if="friends.length"
     class="app-element app-element--small mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="app-element__head">
        <span>{{ 'friends'|translate }}</span>
        <span class="app-element__badge">{{ friends.length }}</span>
        <div class="app-element__tools">
            <element-toggle></element-toggle>
        </div>
    </div>
    <div element-content class="app-element__body">
        <table class="app-table mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th></th>
                    <th sortable collection="friends" expression="['points', 'ranking']" icon="points"></th>
                    <th sortable collection="friends" expression="['ranking', 'points']" icon="ranking"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="friend in friends">
                    <td show-profile="friend" class="app-table__user mdl-data-table__cell--non-numeric">
                        <img class="app-table__avatar" ng-src="{{ friend.avatar }}">
                        <span class="app-table__name">{{ friend.name }}</span>
                    </td>
                    <td>{{ friend.points }}</td>
                    <td>{{ friend.ranking }}</td>
                    <td>
                        <button ng-if="friend.uid !== user.uid"
                                ng-click="setChallenger(friend)"
                                show-modal="modal-challenger"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored">
                            <i class="material-icons">check</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="modal-create-game" 
     class="app-modal app-modal__bg" 
     role="dialog" 
     aria-hidden="true"
     modal-close-bg>
    <div class="app-modal__dialog">
        <div class="app-modal__content">
            <form ng-submit="createGame()" role="form">
                <div class="app-form__select">
                    <select ng-model="game.color" 
                            ng-options="value as value|translate for (key, value) in paramsGame.colors" 
                            id="create-game-color">
                    </select>
                    <label for="create-game-color">{{ 'color'|translate }}</label>
                </div>
                <div class="app-form__select">
                    <select ng-model="game.time"
                            ng-options="value as (value / 60) + ' ' + ('minutes'|translate) for (key, value) in paramsGame.times" 
                            id="create-game-time">
                    </select>
                    <label for="create-game-time">{{ 'time'|translate }}</label>
                </div>
                <div class="app-form__select">
                    <div class="app-form__select-grid mdl-grid">
                        <select ng-model="game.pointsMin"
                                ng-options="value as value for (key, value) in paramsGame.pointsMin" 
                                id="create-game-points" 
                                class="mdl-cell--6-col">
                            <option value="">{{ 'min'|translate }}</option>
                        </select>
                        <select ng-model="game.pointsMax"
                                ng-options="value as value for (key, value) in paramsGame.pointsMax"
                                class="mdl-cell--6-col">
                            <option value="">{{ 'max'|translate }}</option>
                        </select>
                    </div>
                    <label for="create-game-points">{{ 'points'|translate }}</label>
                </div>
                <div class="app-modal__actions">
                    <button modal-close type="button" class="mdl-button mdl-button--raised">{{ 'cancel'|translate }}</button>
                    <button modal-close type="submit" class="mdl-button mdl-button--raised mdl-button--colored">{{ 'ok'|translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-challenger" 
     class="app-modal app-modal__bg" 
     role="dialog" 
     aria-hidden="true"
     modal-close-bg>
    <div class="app-modal__dialog">
        <div class="app-modal__content">
            <div class="app-profile app-profile--challenger">
                <div class="app__pull-left">
                    <img class="app-profile__image" ng-src="{{ challenger.avatar }}">
                </div>
                <div class="app-profile__name">
                    <a class="app-profile__name" href>{{ challenger.name }}</a>
                </div>
                <div class="app-profile__info">
                    <span class="app-icon app-icon__ranking"></span>
                    <span>{{ challenger.ranking }}</span>
                </div>
                <div class="app-profile__info">
                    <span class="app-icon app-icon__points"></span>
                    <span>{{ challenger.points }}</span>
                </div>
            </div>
            <form ng-submit="challenge(challenger.uid)" role="form">
                <div class="app-form__select">
                    <select ng-model="game.color" 
                            ng-options="value as value|translate for (key, value) in paramsGame.colors" 
                            id="create-game-color">
                    </select>
                    <label for="create-game-color">{{ 'color'|translate }}</label>
                </div>
                <div class="app-form__select">
                    <select ng-model="game.time"
                            ng-options="value as (value / 60) + ' ' + ('minutes'|translate) for (key, value) in paramsGame.times" 
                            id="create-game-time">
                    </select>
                    <label for="create-game-time">{{ 'time'|translate }}</label>
                </div>
                <div class="app-modal__actions">
                    <button modal-close type="button" class="mdl-button mdl-button--raised">{{ 'cancel'|translate }}</button>
                    <button modal-close type="submit" class="mdl-button mdl-button--raised mdl-button--colored">{{ 'ok'|translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
