<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">{{ text.cancel }}</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ text.create_game }}</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="create-game-color" class="col-sm-2 control-label">{{ text.color }}</label>
                    <div class="col-sm-8">
                        <select ng-model="createGame.color" id="create-game-color" class="form-control">
                            <option ng-repeat="color in paramsGame.colors" value="{{ color }}">{{ text[color] }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="create-game-time" class="col-sm-2 control-label">{{ text.time }}</label>
                    <div class="col-sm-8">
                        <select ng-model="createGame.time" id="create-game-time" class="form-control">
                            <option ng-repeat="time in paramsGame.times" value="{{ time }}">{{ time / 60 }} {{ text.minutes }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="create-game-points-min" class="col-sm-2 control-label">{{ text.points }}</label>
                    <div class="col-sm-4">
                        <select ng-model="createGame.pointsMin" id="create-game-points-min" class="form-control">
                            <option value="0">{{ text.min }}</option>
                            <option ng-repeat="pointsMin in paramsGame.pointsMin" value="{{ pointsMin }}">{{ pointsMin }}</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select ng-model="createGame.pointsMax" id="create-game-points-max" class="form-control">
                            <option value="0">{{ text.max }}</option>
                            <option ng-repeat="pointsMax in paramsGame.pointsMax" value="{{ pointsMax }}">{{ pointsMax }}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ text.cancel }}</button>
            <button type="button" class="btn btn-primary">{{ text.create_game }}</button>
        </div>
    </div>
</div>