<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">{{ text.cancel }}</span>
            </button>
            <div class="profile">
                <div class="pull-left img">
                    <img class="profile-picture" src="https://graph.facebook.com/{{ challenger.uid }}/picture">
                </div>
                <div>
                    <a href>{{ challenger.name }}</a>
                </div>
                <div>
                    <span>{{ text.points }}: </span>
                    <strong>{{ challenger.points }}</strong>
                </div>
                <div>
                    <span>{{ text.ranking }}: </span>
                    <strong>{{ challenger.ranking }}</strong>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="create-game-color" class="col-sm-2 control-label">{{ text.color }}</label>
                    <div class="col-sm-8">
                        <select ng-model="game.color" id="create-game-color" class="form-control">
                            <option ng-repeat="color in paramsGame.colors" value="{{ color }}">{{ text[color] }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="create-game-time" class="col-sm-2 control-label">{{ text.time }}</label>
                    <div class="col-sm-8">
                        <select ng-model="game.time" id="create-game-time" class="form-control">
                            <option ng-repeat="time in paramsGame.times" value="{{ time }}">{{ time / 60 }} {{ text.minutes }}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ text.cancel }}</button>
            <button ng-click="challenge(challenger.uid)" type="button" class="btn btn-primary" data-dismiss="modal">{{ text.challenge }}</button>
        </div>
    </div>
</div>