<div class="content">
    <div class="row">
        <div class="col-md-10">
            <div class="ranking">
                <div class="element">
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-repeat="rank in ranking">
                                <td class="position">{{ rank.position }}</td>
                                <td class="img"><img class="profile-picture" ng-src="https://graph.facebook.com/{{rank.uid}}/picture"></td>
                                <td class="name">
                                    <a href>{{ rank.name }}</a>
                                </td>
                                <td class="points">{{ rank.points }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <loading></loading>
                </div>
            </div>
            <div class="element ranking-pagination">
                <button ng-click="setPage(page = pagePrev ? pagePrev : page)" class="btn btn-default btn-pagination btn-pagination-left icon-arrow-left"></button>
                <div class="form-group">
                    <input class="form-control" ng-model="page" type="text" ng-blur="setPage(page)">
                </div>
                <span class="text-pagination"> / {{ pageLast }}</span>
                <button ng-click="setPage(page = pageNext ? pageNext : page)" class="btn btn-default btn-pagination btn-pagination-right icon-arrow-right"></button>
            </div>
        </div>
        <div class="col-md-2" col-right></div>
    </div>
</div>
