<div element class="app-element mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div element-content class="app-element__body">
        <table class="app-element__table mdl-data-table mdl-js-data-table">
            <tbody>
                <tr ng-repeat="rank in ranking" profile user="rank">
                    <td class="app-element__table-rank mdl-data-table__cell--non-numeric">{{ rank.position }}</td>
                    <td class="app-element__table-user mdl-data-table__cell--non-numeric">
                        <img class="app-element__table-user__picture" ng-src="//graph.facebook.com/{{rank.uid}}/picture">
                        <span class="app-element__table-user-name">{{ rank.name }}</span>
                    </td>
                    <td class="points">{{ rank.points }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div element class="app-element mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div element-content class="app-element__body">
        <button ng-click="setPage(page = pagePrev ? pagePrev : page)"
                class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
            <i class="material-icons">keyboard_arrow_left</i>
        </button>
         <div class="mui-input">
            <input ng-model="page" type="text" ng-blur="setPage(page)">
        </div>
        <span> / {{ pageLast }}</span>
        <button ng-click="setPage(page = pageNext ? pageNext : page)"
                class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
            <i class="material-icons">keyboard_arrow_right</i>
        </button>
    </div>
</div>
